@tailwind base;
@tailwind components;
@tailwind utilities;



p {
  color: oklch(0.707 0.022 261.325);
}


p, li , h3, h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

h2{
  @apply text-4xl lg:text-5xl text-red-400;
}

.margin_section {/* Se aplica en todos los section */
  @apply pt-16 md:pt-40 px-5 lg:px-10; 
}

.margin_section_aboutme {/* Se aplica en todos los section */
  @apply pt-16 md:pt-64 px-5 lg:px-10; 
}

.max_w_section {/* Se aplica en todos los section */
  @apply max-w-[1200px];
}

body {
  margin: 0;
  background-color: #0d0f1c;
  font-family: sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.gradiente-top {
  position: absolute;
  top: -850px; /* lo subimos para que solo se vea la parte de abajo del gradiente */
  left: 50%;  
  transform: translateX(-50%);
  width: 1500px;
  height: 1500px;
  background: radial-gradient(
    circle,
    #28314d 0%,
    transparent 70%
  );
  z-index: -50;
  overflow: hidden;
  pointer-events: none;
}


.shape-custom{
  shape-outside: circle();
  -webkit-shape-outside: circle();
  float: left;
}

@layer components{

    .desktop-navbar{
      @apply fixed z-50 flex flex-col items-center justify-center w-full mt-10 h-max
    }
}
