@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

p {
  color: oklch(0.707 0.022 261.325);
}


p, li , h3, h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.margin_section {/* Se aplica en todos los section */
  @apply pt-48 px-5 lg:px-10; 
}

.max_w_section {/* Se aplica en todos los section */
  @apply max-w-[1200px];
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@layer components{

    .desktop-navbar{
      @apply fixed z-50 flex flex-col items-center justify-center w-full mt-10 h-max
    }
}
